.back {
    background-color: black;
    padding: 48px 0;
   
}

.inicio {
    text-align: center;
    padding: 30px;
}

.inicio h1 {
    color: white;
    font-style: italic;
    font-family: "Montserrat", sans-serif;
    font-weight: 200;
    font-size: 40px;
}

.trabalhar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}



.trabalhar h1 {
    font-size: 40px;
    font-style: italic;
    font-family: "Montserrat", sans-serif;
    font-weight: 200;
}

.trabalhar h2 {
    font-size: 30px;
    font-style: italic;
    font-family: "Montserrat", sans-serif;
    font-weight: 200;
}

.trabalhar p {
    font-size: 20px;
    font-style: italic;
    font-family: "Montserrat", sans-serif;
    font-weight: 200;
}

.trabalhar img {

    width: 600px;

}

.textos {
    display: flex;
    background-color: #1A1A1A;
    border-radius: 20px;
    padding-left: 20px;
    padding: 20px;
    gap: 40px;
    margin: 12px;
}

.filho {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    background-color: #1A1A1A;
    margin-left: 150px;
    border-radius: 20px;
    margin: 12px;
}

.trabalhar h1,
h2,
p {
    color: white;
    font-style: italic;
    font-family: "Montserrat", sans-serif;
    font-weight: 200;
    gap: 80px;
    margin: 12px;

}

.part {
    padding-top: 45px;
    h2{
        margin: 19px;
        font-size: 24px;
    }
}

.execucao {
    width: 80%;
    height: 50px;
    h2{
        margin: 19px;
        font-size: 26px;
    }


}



.execucao h1 {
    color: white;
    font-style: italic;
    font-family: "Montserrat", sans-serif;
    font-weight: 200;
    

}


.atencao {
    width: 415px;
    h2{
        font-size: 25px;
    }
}

.atencao h1 {
    color: white;
    font-style: italic;
    font-family: "Montserrat", sans-serif;
    font-weight: 200;

    font-weight: weight;

}

.series {
    padding-top: 15px;
}

.series h1 {
    color: white;
    font-style: italic;
    font-family: "Montserrat", sans-serif;
    font-weight: 200;
}



.pai {
    display: flex;
    padding-left: 55px;
    padding-top: 40px;
}



.sup {
    display: flex;
    margin-top: 60px;
    img {
        
        width: 280px;
        height: 280px
    }
}

.sup {
    padding-right: 90px;
}

.escr {
    display: flex;
    align-items: left;
    justify-content: space-around;
    flex-direction: column;
    margin-left: 100px;
    background-color: #1A1A1A;
    border-radius: 20px;
    padding: 41px;

}