h1 {
    margin: 5px;
    font-weight: 200;
}

.info {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0 auto;

    img {
        margin: 70px;
        width: 250px;
        height: 250px;
    }
}

.info2 {
    display: flex;
    flex-wrap: wrap;
    gap: 80px;
    justify-content: center;
    align-items: center;
    color: white;

    h1 {
        font-size: 24px;
        font-weight: 200;
    }

    p {
        font-weight: 200;
        background-color: #272525;
        width: 280px;
        border-radius: 25px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
}

.linha {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    width: 90%;
    margin: 0 auto;
}

.dados {
    display: flex;
    justify-content: space-between;
    /* flex-wrap: wrap; */
    flex-direction: row;
    margin: 100px;
    gap: 50px;
    color: white;
}

.esq,
.dir {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.a1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    gap: 12px;
    color: white;

    h1 {
        font-size: 27px;
        font-weight: 200;
        text-align: center;
    }

    p {
        font-weight: 200;
        text-align: center;
        background-color: #272525;
        width: 150px;
        border-radius: 25px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.textos {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    
    justify-content: center;
}

.linha2 {
    width: 2px;
    height: 150px;
    background-color: black;
    position: absolute;
    margin: 0 10px;
}

.conta {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    margin: 50px;

    h1 {
        font-weight: 200;
    }
}

.senha {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #272525;
    margin-top: 10px;
    border-radius: 25px;
    height: 30px;

    p {
        font-size: 25px;
    }
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;

    button {
        background-color: #b81212;
        color: white;
        font-weight: 500;
        padding: 10px;
        border-radius: 15px;
        width: 80px;
        font-size: 17px;
        margin: 20px;
        cursor: pointer;
    }

    a {
        background-color: #B81212;
        color: white;
        font-weight: 500;
        padding: 10px;
        border-radius: 15px;
        width: 55px;
        font-size: 17px;
        margin: 20px;
        text-decoration: none;
        height: 42px;
    }
}
@media (max-width: 620px) {
    .dados {
        flex-wrap: wrap;
    }
}

@media (max-width: 500px) {
    .info {
        display: flex;
        align-content: center;
        justify-content: center;
        flex-direction: column;
        padding: 20px;
    }

    .info2 {
        flex-direction: column;
        gap: 20px;
        padding: 20px;
    }

    .info2 p {
        width: 80%;
    }

    .info2 h1 {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .dados {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 20px;
        gap: 30px;
    }

    .esq,
    .dir {
        width: 100%;
        align-items: center;
    }

    .textos {
        flex-direction: column;
        width: 300px;
        gap: 10px;
    }

}