/* Utilitários */
.espacamento-superior-grande {
    padding-top: 90px;
}

.centro-flexivel {
    display: flex;
    align-items: center;
    justify-content: center;
}

.centro-texto {
    text-align: center;
}

.largura-total {
    width: 100%;
}

.titulo-secao {
    color: gray;
    font-family: "Marcellus SC", serif;
    font-weight: 200;
    font-size: 30px;
    font-style: normal;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.titulo-secundario {
    font-size: 32px;
    margin: 65px 0 20px;
    color: #fff;
    font-family: "Marcellus SC", serif;
    font-weight: 400;
    font-style: normal;
}



.banner-inferior {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.banner-inferior img {
    width: 800px;
    height: 200px;
    position: relative;
    z-index: 1;

    
        @media (max-width:1000px) {
            width: 700px;
        }

        @media (max-width:740px) {
            width: 600px;
        }

        @media (max-width:640px) {
            width: 500px;
        }

        @media (max-width:540px) {
            width: 450px;
        }
}


.banner-inferior h1 {
    color: white;
    position: absolute;
    z-index: 3;
    margin-top: 100px;
    font-family: "Marcellus SC", serif;
    font-weight: 200;
    font-style: normal;
}

/* Seções de Exercícios (usando flex ao invés de grid) */
.secao-quadriceps,
.secao-panturrilha,
.secao-posterior,
.secao-gluteo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px; 
}


/* Separador */
.linha-separadora {
    height: 2px;
    width: 70%;
    margin: 32px auto;
    background-color: white;
}

/* Imagem Central Única */
.secao-unica {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}

.secao-unica img {
    padding: 5px 100px;
}

/* Itens de Exercício */
.cartao-exercicio {
    position: relative;
    overflow: hidden;
}

.cartao-exercicio a {
    color: white;
    font-size: 23px;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 1s;
    opacity: 0;
}

.cartao-exercicio:hover a {
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
    top: 60%;
    text-decoration: none;
}